*,*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 font-family: "Figtree", sans-serif;
}

:root{
--Yellow: hsl(47, 88%, 63%);
--White: hsl(0, 0%, 100%);
--Grey: hsl(0, 0%, 50%);
--Black: hsl(0, 0%, 7%);
}


body {
    background-color: var(--Yellow);
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

section {
    background-color: var(--White);
    display: inline-block;
    padding: 20px;
    width: 380px;
    margin: auto;
    box-shadow: 15px 15px;
}

#maincontent {
    padding: 15px 0;
}

#author {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 12rem;

    & h4 {
      margin: auto;
    }
}

#label {
    height: 1.75rem;
    width: 5rem;
    background-color: var(--Yellow);
    border-radius: 5px;
    text-align: center;
}
/* font color*/

span, h3, #publish-date, #author {
    color: var(--Black);
    padding: 10px 0;
}

span {
    display: inline-block;
    position: relative;
    bottom: 4px;
    font-weight: 800;
}

h3 {
    font-weight: 800;
    font-size: 1.3rem;

    &:hover{
        cursor: pointer;
        color: var(--Yellow);
    }
        
}

h4 {
    font-weight: 800;
}

#blurb {
    color: var(--Grey);
}

/* Image Styles */

section, #blogimg, img {
    border-radius: 10px;
}

#profilepic {
    height: 2rem;
}
